*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: "Quicksand",sans-serif;
    background: sticky;
    color: #333;   
}

header {
   background-color: rgb(46, 46, 235); 
   color: rgb(255, 252, 252);
   position: relative;
   top: 0;
   padding: 15px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 40px;
}

nav a {
  color: rgb(255, 255, 255); 
  text-decoration: none; 
  font-weight: 600; 
  padding: 5px 10px;
}


section { 
  padding: 40px 20px; 
  text-align: center; 
}

h1 , h2 {
    
  margin-bottom: 10px;
  align-items: center;
  align-content: center;
  text-align: center;
}

p , p1 { 
   color: #222;
   font-size: 16px;
}


.profile-photo {
  border-radius: 50%;
  border: 2px solid #2b2d42;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

 img {
  border-radius: 10px;
  width: 150px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  margin-top: 10px;
}



table { 
  margin: 30px auto; 
  border-collapse: collapse; 
  width: 50%; 
} 

th, td { 
border: 1px solid #999; 
padding: 10px; 
} 
 


 
tr:nth-child(even) { 
background-color: #e9ecef; 
}
 
.batman {
 background-color: rgba(46, 46, 235);
 color: white;
}



form { 
display: flex; 
flex-direction: column; 
width: 50%; 
margin: auto; 
} 
input, textarea { 
margin: 10px 0; 
padding: 10px; 
border: 1px solid #ccc; 
border-radius: 5px; 
}


button { 
background-color: rgba(46, 46, 235); 
color: white; 
border: none; 
padding: 10px; 
border-radius: 5px; 
font-weight: 600;
} 


#topBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color:rgba(46, 46, 235); 
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  font-size: 14px;
  text-align: center;
}


#topBtn a {
  color: white;
  text-decoration: none;
}

div {
  background-color:rgba(46, 46, 235);
  height: 20px;
}



